html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.center-content {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 800px) {
  .center-content {
    height: 70vh;
  }
}
